
{% extends "nav.html" %}

{%block body%}

<style >
    .mystyle:hover{
        box-shadow: 0 0 20px 0;
        color: blue;
        transform: translateY(-20px);
    }
</style>
<div class="container-fuild mt-2" >
            <h1 class="text-center">Contact Us</h1>
<div class="row mt-5 text-center ">

    <div class="col-lg-3  col-sm-6 mystyle">
       <h4> <i class="fa fa-phone"></i>  Contact</h4>
       <p>
           <a href="tel:+928434669" class="text-danger">+928434669</a>
       </p>
    </div>


    <div class="col-lg-3 col-sm-6 mystyle">
        <h4><i class="fa fa-envelope" style="font-size:24px"></i> Send Email</h4>
        <p>
            <a href="mailto:alialtaf1998@gmail.com" class="text-danger">alialtaf1998@gmail.com</a>
        </p>
    </div>


    <div class="col-lg-3 col-sm-6 mystyle">
        <h4> <i class="fa fa-address-card" style="font-size:24px"></i> Office Address</h4>
        <p>
            <a href="http://maps.google.com/maps?q=United State+California" class="text-danger">United State : California</a>
        </p>
    </div>



    <div class="col-lg-3 col-sm-6 mystyle">
        <h4><i class="fa fa-address-card" style="font-size:24px"></i>Office Timing</h4>
        <p class="text-danger">Pakistan Time 9pm to 9 Am
        </p>
    </div>

    <div class="container mt-4" style="font-size: 15px; font-weight: bold;">
        Dev Technosys is a highly acknowledge custom website development company and is recognized for delivering extraordinary work in the niche of web development solutions. Imbibed with true user experience in the sphere of delivering custom website design services it is assisting plentiful of enterprises to grow. They are delivering extraordinary custom web design services, web development services, and custom web application development services that can fit into the puzzled and complicated business operations. Their bespoke web development services are visually stunning and are backed with intelligent technology standards and advanced features that aid in delivering amicable strength to the web project to render high-results.
    </div>


 </div>
{%endblock%}
